html{
    width: 100%;
    background-color: bisque
}

.title{
    font-size: 50px;
    color: rgb(191, 45, 196);
    text-align: center; 
    border: solid;
    border-color: rgb(148, 90, 145);
    border-radius: 20px;
    background-color: rgb(62, 3, 76);
    font-family: 'Niconne', cursive;
}

.addsection{
    justify-items: center;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}